body {
  background: #0b192e;
  margin: 0;
  color: #8893af;
}
.fireworks {
  position: absolute;
  left: 0;
  top: 0;
}
.navbar {
  background: #0b192e;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  overflow: hidden;
}
.nav-column {
  display: flex;
  align-items: center;
  z-index: 100;
}
div.nav-column {
  flex-grow: 1;
}
.title {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 2.5em;
  color: #ccd7f5;
}
.fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
}
.fa-brands:hover,
.fa-brands:focus {
  opacity: 0.7;
}
.fa-instagram {
  background: #64ffda;
  color: white;
}
.fa-solid {
  font-size: 50px;
  padding-right: 0.5em;
}
.fa-laptop-code {
  color: #ff1461;
}
.fa-laptop-code:hover,
.fa-brands:focus {
  color: #fbf38c;
}
.main {
  padding: 9em 5em 2em 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.second-header {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 18px;
  color: #8893af;
}
.laylaKrauss {
  font-family: "Anybody", Verdana, sans-serif;
  font-size: 60px;
  color: #ccd7f5;
  margin: 0;
  padding: 0.2em;
}
.fade {
  color: #8893af;
}
.code {
  font-family: "Source Code Pro", monospace, sans-serif;
}
.about {
  width: 75%;
}
hr.main-end {
  margin-inline: 3em;
}
@media {
  .line-break {
    animation: line-break 1.2s 1 ease-in-out;
  }
}
@keyframes line-break {
  0% {
    margin-inline: 31em;
  }
  100% {
    margin-inline: 3em;
  }
}
.footer {
  display: flex;
  align-content: center;
  width: 100%;
  padding: 2em 0em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-content {
  width: 100%;
}
.discover {
  padding-left: 5em;
}
.connect {
  padding-right: 5em;
}
.footer-title {
  font-size: 2em;
  font-family: "Source Code Pro", monospace, sans-serif;
}
.footer-img {
  padding: 13.5em 0;
  margin: 3em;
  width: 100%;
  background: no-repeat;
  background-image: linear-gradient(
      75deg,
      rgba(72, 185, 166, 0.3),
      rgba(72, 185, 166, 1)
    ),
    url("images/headshot.JPG");
  border-radius: 1em;
}
#email,
#fname,
#lname,
#message {
  display: block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  width: 100%;
  margin: auto;
  font-family: inherit;
  font-size: 1em;
}
#message {
  height: 5em;
}
.second-footer {
  font-family: "Source Code Pro", monospace, sans-serif;
  margin: 5em 0em 1em 3em;
  color: #ccd7f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}
.footer-icons a {
  padding: 10px;
  font-size: 4em;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
  background: #0b192e;
  color: #ccd7f5;
  width: auto;
}
.footer-icons a:hover,
.fa-brands:focus {
  color: #ff1461;
}
@media (max-width: 480px) {
  .title {
    font-size: 1.5em;
  }
  .main {
    padding-top: 7em;
  }
  .footer {
    flex-direction: column;
  }
  .second-footer {
    font-size: 0.5em;
    flex-direction: column-reverse;
  }
  .footer-icons {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-icons a {
    margin-right: 0.2em;
  }
}
