* {
  box-sizing: border-box;
}

body {
  background: #0b192e;
  margin: 0;
  color: #8893af;
}

.mt {
  margin-top: 2em;
}

.fireworks {
  position: absolute;
  left: 0;
  top: 0;
}

.brand-icon {
  box-sizing: content-box;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
}

.navbar {
  background: #0b192e;
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.nav-content {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
}
.nav-column {
  display: flex;
  align-items: center;
  z-index: 100;
}
.nav-content .nav-column:first-child {
  flex-grow: 1;
}
.title {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 2.5em;
  color: #ccd7f5;
}
.navbar .brand-icon {
  background: #64ffda;
  color: white;
  margin: 0;
}
.navbar .brand-icon:hover,
.navbar .brand-icon:focus {
  opacity: 0.7;
}

.logo-icon {
  font-size: 50px;
  padding-right: 0.5em;
  color: #ff1461;
}
.logo-icon:hover,
.logo-icon:focus {
  color: #fbf38c;
}

.main {
  padding: 9em 5em 2em 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.second-header {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 18px;
  color: #8893af;
}
.layla-krauss {
  font-family: "Anybody", Verdana, sans-serif;
  font-size: 60px;
  color: #ccd7f5;
  margin: 0;
  padding: 0.2em;
}
.fade {
  color: #8893af;
}
.code {
  font-family: "Source Code Pro", monospace, sans-serif;
}
.about {
  width: 75%;
}

.main-end {
  margin-inline: 3em;
}
@media (prefers-reduced-motion: no-preference) {
  .line-break {
    animation: line-break 1.2s 1 ease-in-out;
  }
}
@keyframes line-break {
  0% {
    margin-inline: 31em;
  }
  100% {
    margin-inline: 3em;
  }
}

.footer {
  display: flex;
  width: 100%;
  padding: 2em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-content {
  width: 100%;
}
.discover {
  padding-left: 5em;
}
.connect {
  padding-right: 7em;
}
.footer-title {
  font-size: 2em;
  font-family: "Source Code Pro", monospace, sans-serif;
}
.footer-img-wrapper {
  padding: 3em;
}
.footer-img {
  width: 300px;
  border-radius: 1em;
}
.form-group {
  margin-bottom: 1em;
}
.form-control {
  display: block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  width: 100%;
  margin: auto;
  font-family: inherit;
  font-size: 1em;
}
.second-footer {
  font-family: "Source Code Pro", monospace, sans-serif;
  margin: 5em 0em 1em 3em;
  color: #ccd7f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}
.footer-icons a {
  padding: 10px;
  font-size: 4em;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
  background: #0b192e;
  color: #ccd7f5;
  width: auto;
}
.footer-icons .brand-icon:hover,
.footer-icons .brand-icon:focus {
  color: #ff1461;
}
@media (max-width: 480px) {
  .title {
    font-size: 1.5em;
  }
  .main {
    padding: 8em 3em 2em 3em;
  }
  .second-header {
    font-size: 1.5em;
  }
  .layla-krauss {
    font-size: 2em;
  }
  .about {
    font-size: 1.5em;
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .connect {
    padding: 3em;
    font-size: 1em;
  }
  .footer-img-wrapper {
    padding: 3em;
  }
  .footer-img {
    max-width: 100%;
  }
  .second-footer {
    font-size: 0.5em;
    flex-direction: column-reverse;
    margin: 0 0 2em 0;
    text-align: center;
  }
  .copyright {
    width: 100%;
  }
  .footer-icons {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-icons a {
    margin-right: 0.2em;
  }
}
